#gallery {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    /* Your container needs a fixed height, and it 
     * needs to be taller than your tallest column. */
    /* height: 600px;  */
}
  
#gallery .item {
    width: calc(100% / 3);
    padding: 10px;
}
  
/* Re-order items into 3 rows */
#gallery .item:nth-child(3n+1) { 
    order: 1; 
}
#gallery .item:nth-child(3n+2) { 
    order: 2; 
}
#gallery .item:nth-child(3n)   { 
    order: 3; 
}

#gallery .item img {
    vertical-align: bottom;
    border-radius: 12px;
    width: 100%;
}
  
/* Force new columns */
#gallery::before,
#gallery::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

@media (max-width: 768px) {
    #gallery {
        flex-flow: column;

    }

    #gallery .item {
        width: 100%;
    }
}