@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --primary: #000;
    --secondary: #ee7803;
    --white: #fff;
    --light-grey: #f5f5f5;
    --black: #000;
    --background-dark: #12141d;
    --background-accent: #1e2029;
    --box-shadow: 20px 0 60px rgb(14 27 56 / 15%);
    --box-shadow-dark: 0px 6px 15px 5px rgb(14 27 56 / 30%);
    --transition: all .25s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-dark);
}

* {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--white);
}

::selection {
    color: var(--white);
    background: var(--secondary);
}

/* TEXT */
h1 {
    font-weight: 700;
    font-size: 64px;
    color: var(--white);
    line-height: 1.2;
    margin-bottom: 16px;
}

h2 {
    font-weight: 700;
    font-size: 28px;
    color: var(--white);
    line-height: 1.2;
    margin-bottom: 16px;
}

p,
ul {
    font-size: 20px;
    margin-bottom: 16px;
}

a {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.small-headline {
    text-align: left;
    color: var(--secondary);
    text-transform: capitalize;
}

img {
    border-radius: 12px;
}


/* HEADER */
#header .row {
    background-color: var(--background-dark);
    margin: 20px auto;
    padding: 0;
}

#header .row .logo {
    width: 200px;
    height: auto;
}

#header .row .col {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
}

#header .row .col:nth-child(2) {
    justify-content: flex-end;
}

#header .row .nav-link {
    color: var(--white);
    opacity: 0.5;
    transition: var(--transition);
}

#header .row .nav-link:hover {
    opacity: 1;
    transition: var(--transition);
}

#header .row .primary-btn {
    background-color: var(--secondary);
    margin-top: 0;
}

#hero .row {
    height: 70vh;
    margin-top: 0;
}

#hero .row .primary-btn {
    font-size: 20px;
}

#small-nav {
    display: none;
}

.small-menu-wrapper {
    display: none;
}

/* BUTTONS */
.primary-btn {
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 9px;
    padding: 15px 50px;
    transition: var(--transition);
}

.primary-btn:hover {
    transition: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
}

/* SECTIONS, ROWS & COLUMNS */
.section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    width: 100%;
    max-width: 1296px;
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    padding: 100px;
    border-radius: 12px;
    justify-content: center;
    background-color: var(--background-accent);
}

.row.row-reverse {
    flex-direction: row-reverse;
}

.row.flex-col {
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 30px;
}

.center-text {
    text-align: center;
}

.center-content {
    margin-right: auto;
    margin-left: auto;
}

/* FORM */
.form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form .field {
    height: 60px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 6px;
    background-color: hsla(0, 0%, 100%, 0.1);
    transition: var(--transition);
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border: none;
}

.form .field:focus {
    background-color: hsla(0, 0%, 100%, 0.25);
    transition: var(--transition);
}

.form .primary-btn {
    margin-top: 0px;
    background-color: var(--secondary);
    border: none;
}

/* USPS */
#usp .row:nth-child(2) {
    background-color: transparent;
}

#usp .usp-wrapper {
    flex-wrap: wrap;
    gap: 40px;
    background-color: transparent;
}

#usp .row .usp-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-accent);
    padding: 40px;
    border-radius: 12px;
    width: 40%;
}

#usp .row .usp-item:nth-child(5) {
    width: calc(80% + 40px);
}

#usp .row .usp-item .counter {
    font-size: 60px;
    font-weight: 700;
    background-image: linear-gradient(90deg, #8f2df0, #ff934f);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#usp .row .usp-item h3 {
    font-weight: 700;
    font-size: 24px;
}

#usp .row .usp-item p {
    font-size: 18px;
}

#usp .row .usp-item a {
    font-size: 18px;
    color: var(--white);
    text-decoration: underline;
    transition: var(--transition);
    margin-top: auto;
}

#usp .row .usp-item a:hover {
    color: var(--secondary);
    text-decoration: underline;
    transition: var(--transition);
}

#usp .row:nth-child(1) .small-headline {
    text-align: center;
}

#usp .row:nth-child(1) {
    margin-bottom: 0;
}

#usp .row:nth-child(2) {
    padding-bottom: 0;
    margin-bottom: 20px;
}

#usp .row:nth-child(3) {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 0;
}


#reviews .row:nth-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#reviews .row:nth-child(2) {
    margin-top: 0;
    padding-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/* STATS */
#stats .row:nth-child(1) {
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 0;
}

#stats .row h2,
.row.core h2 {
    font-size: 42px;
}

#stats .row:nth-child(2) {
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

#stats .row .stats-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-accent);
    padding: 40px;
    border-radius: 12px;
}

#stats .row .stats-item:nth-child(1) {
    background-image: linear-gradient(90deg, #8f2df0, #ff934f);
}

#stats .row .stats-item:nth-child(2) {
    background-image: linear-gradient(90deg, #ff715b, #3c5ccf);
}
#stats .row .stats-item:nth-child(3) {
    background-image: linear-gradient(90deg, #3ccf91, #3c5ccf);
}

#stats .row .stats-item .left {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    max-width: 33%;
}

#stats .row .stats-item .right {
    font-size: 18px;
    max-width: 25%;
    margin-bottom: 0;
}

/* REVIEWS */
#reviews .row h2 {
    font-size: 40px;
}

#reviews .row .review-item h5 {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 10px;
}

#reviews .row .review-item p {
    font-style: italic;
}

/* FAQ */
#faq .row:nth-child(1) {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
    justify-content: flex-start;
}

#faq .row:nth-child(2) {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

#faq .row h2 {
    font-size: 40px;
}

#faq .row {
    background-color: transparent;
}

#faq .accordion-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#faq .accordion-list .accordion-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-accent);
    padding: 30px 20px;
    border-radius: 12px;
}

#faq .accordion-list .accordion-item:hover {
    cursor: pointer;
}

#faq .accordion-list .accordion-item .accordion-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#faq .accordion-list .accordion-item .accordion-head h5 {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    opacity: 0.5;
    transition: var(--transition);
}

#faq .accordion-list .accordion-item .accordion-head.active h5 {
    opacity: 1;
    transition: var(--transition);
}

#faq .accordion-list .accordion-item .accordion-head .icon {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    background-color: hsla(0, 0%, 100%, 0.1);
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#faq .accordion-list .accordion-item .accordion-head .icon:hover {
    cursor: pointer;
}

#faq .accordion-list .accordion-item .accordion-head .icon.active {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(90deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

#faq .accordion-list .accordion-item .accordion-body {
    display: none;
}

#faq .accordion-list .accordion-item .accordion-body.active {
    display: block;
}

#faq .accordion-list .accordion-item .accordion-body p {
    font-size: 16px;
    margin-top: 20px;
    color: var(--white);
    opacity: 0.5;
}

/* FOOTER */
#footer .row {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    margin: 80px auto;
}

#footer .row .logo {
    width: 200px;
    height: auto;
}

#footer .row p {
    font-size: 14px;
    opacity: 0.5;
    margin-bottom: 0;
}

#footer .row:nth-child(1) {
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#footer .row:nth-child(2) {
    margin-top: 0;
    padding-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    justify-content: flex-start;
}

#footer .row.socials a {
    font-size: 25px;
    opacity: 0.5;
    transition: var(--transition);
}

#footer .row.socials a:hover {
    opacity: 1;
    transition: var(--transition);
}

@media all and (max-width: 540px) {
    #header {
        display: none;
    }

    #small-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: var(--background-accent);
    }

    #small-nav .logo {
        width: 150px;
        height: auto;
    }

    #small-nav #menu-toggle i {
        color: var(--white);
        font-size: 25px;
    }

    .small-menu-wrapper .small-menu-content {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 20px;
    }
    
    .small-menu-wrapper .small-menu-content a {
        color: var(--background-accent);
    }

    .row {
        flex-direction: column;
        margin: 20px auto;
        padding: 20px;
    }

    .row.row-reverse {
        flex-direction: column-reverse;
    }

    .col {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .row.flex-col {
        padding: 0 30px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 26px;
    }

    h5 {
        text-align: center;
        font-size: 20px;
    }

    p {
        text-align: center;
        font-size: 14px;
    }

    .small-headline {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }

    .primary-btn {
        margin: 0 auto;
    }

    #usp .row h2,
    #reviews .row h2,
    #stats .row h2,
    #faq .row h2 {
        font-size: 26px;
    }

    #usp .row:nth-child(1),
    #reviews .row:nth-child(1) {
        padding-top: 20px;
    }

    #usp .row .usp-item {
        width: 100%;
    }

    #usp .row .usp-item:nth-child(5) {
        width: 100%;
    }

    #usp .row .usp-item p {
        text-align: left;
    }

    #stats .row .stats-item {
        flex-direction: column;
    }

    #stats .row .stats-item .left,
    #stats .row .stats-item .right {
        max-width: 100%;
        width: 100%;
    }

    #faq .accordion-list .accordion-item .accordion-body p {
        text-align: left;
    }

    #footer .row {
        align-items: unset;
        justify-content: flex-start;
    }

    #footer .row p {
        text-align: left;
    }

    #footer .socials {
        flex-direction: row;
    }
}